.user-info-card-main-container {
  display: flex;
  width: 100%;
}

.user-profile-container {
  margin-top: 3em;
}
.user-profile-card-container {
  background-color: white;
  border-radius: 10px;
  min-height: 500px;
  min-height: 500px;
  box-shadow: rgb(231 234 237) 5px 5px 15px;
  border-radius: 15px 50px 30px 5px;
}
.user-profile-card-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-profile-card-picture-container {
  display: flex;
  justify-content: center;
  object-fit: cover;
  padding-top: 20px;
}

.user-profile-card-image-area {
  width: 30%;
  border-radius: 30%;
  border-style: double;
}
.user-profile-card-vertical-middle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.user-profile-card-vertical-middle-social-links-container{
  display:flex;
  justify-content: center;
  width: 100%;
}
.user-profile-card-vertical-middle-social-links{
display: flex;
justify-content: space-between;
width: 50%;
}

.user-profile-card-name-section {
  font-weight: 900;
  font-size: larger;
}
.user-profile-card-user-title-section {
}
.user-profile-card-vertical-bottom {
  display: flex;
  flex-direction: column;
}
.user-profile-card-bottom-list-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-profile-card-bottom-list-element-icon-container {
  justify-content: center;
  display: flex;
}
.user-profile-card-bottom-list-element-key-container {
  justify-content: flex-start;
  display: flex;
}

.user-profile-card-bottom-list-element-value-container {
  display: flex;
  justify-content: center;
}
.user-profile-card-bottom-list-element-icon-area {
  display: flex;
}
.user-profile-card-bottom-list-element-key-area {
  display: flex;
}
.user-profile-card-bottom-list-element-value-area {
  display: flex;
}
.reservation-date-picker-container{
    border-radius:2%;
    box-shadow: rgb(231 234 237) 5px 5px 15px;
    border-radius: 15px 50px 30px 5px;
}
.reservation-card-head{
  background: linear-gradient(315deg, #ff385c, transparent);
  border-radius: 15px 8px 30px 5px
}
.reservation-card-head-title{
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

}
.reservation-card-body{
  min-height: 250px;
}
.reservation-card-footer{
  background: linear-gradient(315deg, #ff385c, transparent);
  border-radius: 5px 50px 30px 15px
}
.date-picker-message-area{
  width: 70%;
}

.date-picker-message-area #reservation-text-content{
  min-height: 100px;
  box-shadow: rgb(231 234 237) 5px 5px 15px;
}

.reservation-submit-button{
  background:#ff385c !important;
}
.reservation-card-body-head{
  display: flex;
  margin-left: 9px;

}


.reservation-card-experience-selection{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.reservation-card-experience-item{
  background-color:  #ff385c;
  margin-right: 10px;
  border-right-width: 29px;
  display: flex;
  min-width: 120px;
  justify-content: center;
  border-radius: 10pc;
  margin-left: -17px !important;
  color: white;
}

.experience-showcase-container{
  border-radius: 15px 50px 30px 5px;


}

.experience-showcase-head{
  background:  #ff385c;
    border-radius: 24px 8px 0px 4px;

}
.experience-showcase-body{
  min-height: 60px;
  align-items: center;

} 

.experience-showcase-head-title{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.comments-head{
width: 100%;
display: flex;
flex-direction: column;
border-bottom-style: inset;
}

.comments-head-top-area{
display: flex;
flex-direction: row;
}

.comments-head-top-content{
  display: flex;
  width: 60%;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5em;
}

.comments-head-bottom-area{
display: flex;
flex-direction: row;
width: 100%;
}

.comments-head-bottom-area-left{
display: flex;
width: 60%;
justify-content: space-around;
}

.comments-head-bottom-area-right{
display: flex;
width: 40%;
flex-direction: column;
justify-content: center;

}

.comments-head-bottom-area-left-content-left{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content:center;
}
.comments-head-bottom-area-bottom{
  display: flex;
  align-items: center;
  border-bottom-style: inset;
}

.comments-head-bottom-area-bottom-rate-star-icon{
  color: goldenrod;
}

.comments-head-bottom-area-left-content-right{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.comments-footer{
  display: flex;
  justify-content: center;
}

.comments-footer-content{
  font-size: large;
  cursor: pointer;
  color: white;
  background-color: #ff385c;
  border-radius: 5px;
}
.comments-head-bottom-area-left-content-left-content-area{
display: flex;
justify-content: center;
}
.comments-head-bottom-area-left-content-left-icon-area{
  display: flex ;
  justify-content: center ;

}

.comments-head-bottom-area-right-content-left-content-area{
display: flex;
justify-content: center;
}

.comments-head-bottom-area-right-content-left-icon-area{
display: flex;
justify-content: center;
}


.comments-head-bottom-area-left-content-left-rate-area{
  display: flex;
  justify-content: center;
}


.comments-head-bottom-area-left-content-left-content-area{
  display: flex;
  justify-content: center;
}

.comments-head-bottom-area-left-content-left-icon-area{
  display: flex;
  justify-content: center;
}

.comments-head-bottom-area-left-content-right-rate-area{
display: flex;
justify-content: center;
}

.comments-head-bottom-area-bottom-rate-content{
  font-size: 2em;
}

.comments-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comments-body-left{

  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.comments-body-middle{
  display: flex;
  width: 70%;
  flex-direction: column;

}

.comments-body-right{
display: flex;
width: 15%;
font-weight: 600;
justify-content: center;
align-items: center;
}

.comments-body-left-image-area{
  display: flex;
  justify-content: center;
}


.comments-body-left-image-content{
  width: 70px;
  border-radius: 50%;
}
.comments-body-middle-title{
    display: flex;
}

.comments-body-middle-title-username{
font-weight: 500;
}






