

.user-contact-information-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.user-contact-experienced-form-area{
   width: 80%;
   display: flex;
   justify-content: center;
    flex-direction: column;


}
.user-contact-experienced-form-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: groove;
    margin-bottom: 2em;    
    
}

.user-contact-experienced-form-header-content{
        display: flex;
        color: black;
        justify-content: center;
        font-weight: bolder;
        font-size: larger;

}

.reservation-items-top-content{
    font-weight: 400;
}



.reservation-items-top{
display:flex;
justify-content:center;
min-height: 50px;
background-color: #ff385c;
color: white;
font-weight: 900;
flex-direction: column;
align-items: center;
}

.reservation-selection-footer{
    display:flex;
    justify-content:center;
}

.send-reservation-btn{
    
}
.reservation-day-selection-button{
    display: flex;
    min-width: 100px;
    justify-content: center;
}



